.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

#page-numbers {

    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: auto;

}

#page-numbers li {
    color: #888;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#page-numbers li.active {
    color: #005cbf;
    text-decoration: underline;
}

footer {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #555;
    color: white;
    padding: 15px;
}

#tableTitle {
    text-align: center;
}