.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

#page-numbers {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
}

#page-numbers li {
    color: #888;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#page-numbers li.active {
    color: #005cbf;
    text-decoration: underline;
}

footer {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #f8f8f8;
    color: black;
    padding: 15px;
    font-size: 13.5px;
}

#tableTitle {
    text-align: center;
}

.prov-header {
    text-align: center;
    display: block;
    margin-bottom: 15px;
}

#provider-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 15px;
}

#show_test_button li {
    color: #005cbf;
    text-decoration: underline;
}

#provider-list li {
    color: #888;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}

.provider-ul li {
    color: white !important;
    background-color: #888888;
    padding: 5px 10px;
    border-radius: 15px;
}

.provider-ul li.active {
    color: white !important;
    background-color: #005cbf;
}

#provider-list li.active {
    color: #005cbf;
}


